<link rel="stylesheet" href="~/Scripts/dist/spo.cdn.manager.css" />
<div id="cdnManagerContainer"></div>
<script src="~/Scripts/dist/spo.cdn.manager.vendor.js"></script>
<script src="~/Scripts/dist/spo.cdn.manager.app.js"></script>