<div id="cdnManagerContainer">
  <div class="ms-Grid">
    <div class="ms-Grid-row">
      <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg12">
        <span class="ms-font-su ms-fontSize-xxl">
          Manage Office 365 Public CDN Settings for <span class="ms-font-xl ms-fontSize-xl" data-bind="text: SPOSiteUrl"></span>
        </span>
      </div>
    </div>
    <br />
    <div class="ms-Grid-row">
      <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg12">

        <div class="ms-Pivot  ms-Pivot--large">
          <ul class="ms-Pivot-links">
            <li class="ms-Pivot-link is-selected" data-content="origins" title="CDN Origins" tabindex="1">
              Origins
            </li>
            <li class="ms-Pivot-link " data-content="filetypes" title="File Types" tabindex="1">
              Filetypes
            </li>
            <li class="ms-Pivot-link " data-content="onoff" title="Enable CDN" tabindex="1">
              Turn CDN On/Off
            </li>
          </ul>
          <div class="ms-Pivot-content" data-content="origins">
            <div class="ms-Grid">
              <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg12">
                  <div class="ms-PanelMediumExample ms-PanelExample">
                    <button class="ms-Button ms-Button--primary">
                      <span class="ms-Button-label">Add Origin</span>
                    </button>
                    <div class="ms-Panel  ms-Panel--xl">
                      <button id="btnAddOrigin" class="ms-Panel-closeButton ms-PanelAction-close">
                        <i class="ms-Panel-closeIcon ms-Icon ms-Icon--Cancel"></i>
                      </button>
                      <div class="ms-Panel-contentInner">
                        <p class="ms-Panel-headerText">Add a CDN Origin</p>
                        <div class="ms-Panel-content">
                          <span class="ms-font-m">Add the relative url of a SharePoint folder to be set as CDN Origin</span>
                          <div class="ms-TextField">
                            <label class="ms-Label">Folder Url</label>
                            <input id="txt-cdn-origin" class="ms-TextField-field" type="text" value="" placeholder="/sites/intranet/publishingimages">
                          </div>
                          <button id="add-cdn-origin" class="ms-Button ms-Dialog-action ms-Button--primary">
                            <span class="ms-Button-label">Add</span>
                          </button>
                          <div class="ms-MessageBar ms-MessageBar--error" data-bind="visible: addOriginError">
                            <div class="ms-MessageBar-content">
                              <div class="ms-MessageBar-icon">
                                <i class="ms-Icon ms-Icon--ErrorBadge"></i>
                              </div>
                              <div class="ms-MessageBar-text" data-bind="text: addOriginErrorMessage">

                              </div>
                            </div>
                          </div>
                          <div class="ms-MessageBar ms-MessageBar--success" data-bind="visible: addOriginSuccess">
                            <div class="ms-MessageBar-content">
                              <div class="ms-MessageBar-icon">
                                <i class="ms-Icon ms-Icon--Completed"></i>
                              </div>
                              <div class="ms-MessageBar-text">
                                Done!
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="docs-DialogExample-lgHeader origins-Dialog-Container">
                    <div class="ms-Dialog  ms-Dialog--lgHeader origins-Dialog">
                      <div class="ms-Dialog-title">Delete a CDN Origin?</div>
                      <div class="ms-Dialog-content">
                        <p class="ms-Dialog-subText">Are you sure you want to delete the CDN origin?</p>
                        <span class="ms-Dialog-subText ms-fontWeight-semibold" data-bind="text:CurrentOriginUrl"></span>
                      </div>
                      <div class="ms-Dialog-actions">
                        <button id="delete-origin-yes" class="ms-Button ms-Dialog-action">
                          <span class="ms-Button-label">Yes</span>
                        </button>
                        <button id="delete-origin-no" class="ms-Button ms-Dialog-action ms-Button--primary">
                          <span class="ms-Button-label">No</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg12">
                  <div id="cdn-Origins" class="ms-DetailsList">
                    <div class="ms-DetailsHeader ms-font-m">
                      <div class="ms-DetailsHeader-cellSizeWrapper">
                        <div class="ms-DetailsHeader-cellWrapper">
                          <button class="ms-DetailsHeader-cell" style="width: 30px">
                            <span>
                            </span>
                          </button>
                        </div>
                      </div>
                      <div class="ms-DetailsHeader-cellSizeWrapper">
                        <div class="ms-DetailsHeader-cellWrapper">
                          <button class="ms-DetailsHeader-cell" style="width: 600px">
                            <span class="ms-DetailsHeader-cellText">Origin Url</span>
                          </button>
                        </div>
                      </div>
                      @*<div class="ms-DetailsHeader-cellSizeWrapper">
                        <div class="ms-DetailsHeader-cellWrapper">
                          <button class="ms-DetailsHeader-cell" style="width: 600px">
                            <span class="ms-DetailsHeader-cellText">Origin ID</span>
                          </button>
                        </div>
                      </div>*@
                    </div>
                    <div class="ms-Spinner" data-bind="visible: isLoading">
                    </div>
                    <div class="ms-DetailsList-list" data-bind="foreach: Origins">
                      <div class="ms-DetailsRow ms-font-m">
                        <div class="ms-DetailsRow-cell is-clipped ms-fontColor-neutralSecondary" style="width:30px">
                          <div class="btnDeleteOrigin" data-bind="attr: { originUrl: Url, originID: ID }">
                            <span>
                              <i class="ms-Icon ms-Icon--Delete"></i>
                            </span>
                          </div>
                        </div>
                        <div class="ms-DetailsRow-cell is-clipped ms-fontColor-neutralSecondary" style="width: 600px">
                          <span data-bind="text: Url"></span>
                        </div>
                        @*<div class="ms-DetailsRow-cell is-clipped ms-fontColor-neutralSecondary" style="width: 600px">
                          <span data-bind="text: ID"></span>
                        </div>*@
                      </div>
                    </div>
                    <div class="ms-MessageBar" data-bind="visible: showEmptyOriginsMsg">
                      <div class="ms-MessageBar-content">
                        <div class="ms-MessageBar-icon">
                          <i class="ms-Icon ms-Icon--Info"></i>
                        </div>
                        <div class="ms-MessageBar-text">
                          No origins have been added yet or CDN has been turned off for this tenant.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ms-Pivot-content" data-content="filetypes">
            <div class="ms-Grid">
              <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg12">
                  <div class="ms-PanelMediumExample ms-PanelExample">
                    <button id="btnAddFileType" class="ms-Button ms-Button--primary">
                      <span class="ms-Button-label">Add Filetype</span>
                    </button>
                    <div class="ms-Panel ms-Panel--xl">
                      <button class="ms-Panel-closeButton ms-PanelAction-close">
                        <i class="ms-Panel-closeIcon ms-Icon ms-Icon--Cancel"></i>
                      </button>
                      <div class="ms-Panel-contentInner">
                        <p class="ms-Panel-headerText">Add a Filetype</p>
                        <div class="ms-Panel-content">
                          <span class="ms-font-m">Add a file extention to be included in the CDN</span>
                          <div class="ms-TextField  ">
                            <label class="ms-Label">File extension</label>
                            <input id="txt-cdn-filetype" class="ms-TextField-field" type="text" value="" placeholder="e.g. PNG">
                          </div>
                          <button id="add-cdn-filetype" class="ms-Button ms-Dialog-action ms-Button--primary">
                            <span class="ms-Button-label">Add</span>
                          </button>
                          <div class="ms-MessageBar ms-MessageBar--error" data-bind="visible: addFiletypeError">
                            <div class="ms-MessageBar-content">
                              <div class="ms-MessageBar-icon">
                                <i class="ms-Icon ms-Icon--ErrorBadge"></i>
                              </div>
                              <div class="ms-MessageBar-text" data-bind="text: addFiletypeErrorMessage">

                              </div>
                            </div>
                          </div>
                          <div class="ms-MessageBar ms-MessageBar--success" data-bind="visible: addFiletypeSuccess">
                            <div class="ms-MessageBar-content">
                              <div class="ms-MessageBar-icon">
                                <i class="ms-Icon ms-Icon--Completed"></i>
                              </div>
                              <div class="ms-MessageBar-text">
                                Done!
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="docs-DialogExample-lgHeader fileTypes-Dialog-Container">
                    <div class="ms-Dialog  ms-Dialog--lgHeader fileTypes-Dialog">
                      <div class="ms-Dialog-title">Delete a File extention?</div>
                      <div class="ms-Dialog-content">
                        <p class="ms-Dialog-subText">Are you sure you want to delete the following File extention?</p>
                        <span class="ms-Dialog-subText ms-fontWeight-semibold" data-bind="text:CurrentFiletype"></span>
                      </div>
                      <div class="ms-Dialog-actions">
                        <button id="delete-filetype-yes" class="ms-Button ms-Dialog-action">
                          <span class="ms-Button-label">Yes</span>
                        </button>
                        <button id="delete-filetype-no" class="ms-Button ms-Dialog-action ms-Button--primary">
                          <span class="ms-Button-label">No</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg12">
                  <div id="cdn-Origins" class="ms-DetailsList">
                    <div class="ms-DetailsHeader ms-font-m">
                      <div class="ms-DetailsHeader-cellSizeWrapper">
                        <div class="ms-DetailsHeader-cellWrapper">
                          <button class="ms-DetailsHeader-cell" style="width: 30px">
                            <span>
                            </span>
                          </button>
                        </div>
                      </div>
                      <div class="ms-DetailsHeader-cellSizeWrapper">
                        <div class="ms-DetailsHeader-cellWrapper">
                          <button class="ms-DetailsHeader-cell" style="width: 200px">
                            <span class="ms-DetailsHeader-cellText">File extention</span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="ms-DetailsList-list" data-bind="foreach: Filetypes">
                      <div class="ms-DetailsRow ms-font-m">
                        <div class="ms-DetailsRow-cell is-clipped ms-fontColor-neutralSecondary" style="width:30px">
                          <div class="btnDeleteFileType" data-bind="attr: { filetype: $data }">
                            <span>
                              <i class="ms-Icon ms-Icon--Delete"></i>
                            </span>
                          </div>
                        </div>
                        <div class="ms-DetailsRow-cell is-clipped ms-fontColor-neutralSecondary" style="width: 200px">
                          <span data-bind="text: $data"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ms-Pivot-content" data-content="onoff">

            <div class="ms-Grid">
              <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg12">
                  <div class="ms-Toggle ms-Toggle--textLeft">
                    <span class="ms-Toggle-description">Use Office 365 Public CDN</span>
                    <input id="cdn-enabled-Toggle" type="checkbox" data-bind="checked: EnablePublicCDN" class="ms-Toggle-input" />
                    <label for="cdn-enabled-Toggle" data-bind="css: { 'is-selected': EnablePublicCDN }" class="ms-Toggle-field" tabindex="0">
                      <span class="ms-Label ms-Label--off">Off</span>
                      <span class="ms-Label ms-Label--on">On</span>
                    </label>
                  </div>
                  <div class="docs-DialogExample-lgHeader set-CDN-Dialog-Container">
                    <div class="ms-Dialog  ms-Dialog--lgHeader set-CDN-Dialog">
                      <div class="ms-Dialog-title">Change CDN Settings?</div>
                      <div class="ms-Dialog-content">
                        <p class="ms-Dialog-subText">Are you sure you want to change the CDN settings for your tenant?</p>
                      </div>
                      <div class="ms-Dialog-actions">
                        <button id="cdn-yes-button" class="ms-Button ms-Dialog-action">
                          <span class="ms-Button-label">Yes</span>
                        </button>
                        <button id="cdn-no-button" class="ms-Button ms-Dialog-action">
                          <span class="ms-Button-label">No</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
